# OS files
.DS_Store
Thumbs.db

# Node.js files
node_modules/
npm-debug.log
yarn-error.log
yarn.lock

# Build files
dist/
build/

# IDE files
.vscode/
.idea/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local